body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

article {
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  color: white;
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 600px;
}

.header-logo {
  font-weight: 1000;
}

.header-links {
  display: flex;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
}

/* PART 1 */
.part1 {
  color: white;
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding: 100px;
}

.part1-img {
  width: 400px;
  flex-grow: 0;
  flex-shrink: 1;
}

.headline {
  width: 400px;
  flex-grow: 0;
  flex-shrink: 1;
}

.hl-1 {
  font-size: 36px;
  font-weight: extra-bold;
  margin-bottom: 0;
}

.button-hl {
  background-color: #3882f6;
  border: #3882f6;
  color: white;
  padding: 5px 25px;
  border-radius: 5px;
}

/* PART 2 */
.part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.boxes {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.box {
  border: 2px solid #3882f6;
  height: 100px;
  width: 100px;
  border-radius: 25px;
}

.box-group {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-p {
  text-align: center;
  font-size: 12px;
}

.hl-2 {
  font-weight: extra-bold;
}

/* PART 3 */
.part3 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.part3-content {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.part3-quote {
  font-size: 24px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  text-align: center;
}

.part3-author {
  align-self: flex-end;
}

/* PART 4 */
.part4 {
  background-color: white;
  padding: 30px 200px;
  display: flex;
  justify-content: center;
}

.part4-content {
  background-color: #3882f6;
  border-radius: 25px;
  width: 700px;
  height: 100px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.part4-cta-bold {
  font-weight: 1000;
}

.part4-content p {
  color: white;
  margin: 0;
}

.button-cta {
  background-color: #3882f6;
  border: 2px solid white;
  color: white;
  padding: 5px 25px;
  border-radius: 5px;
}

footer {
  background-color: #1f2937;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
}
